body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.page-footer {
  margin-top: 75px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.8;
}

.list-group-item .badge {
  margin-left: 10px;
}
